language: ruby
bundler_args: --without metrics
script: "bundle exec rake spec_for_build"
sudo: false
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - 2.2.0
  - 2.3.0
  - rbx
  - jruby-head
matrix:
  allow_failures:
    - rvm: rbx
    - rvm: jruby-head
